/* ----- Global ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

h2 {
    color: #457B9D;
    font-size: 40px;
}

/* ----- Navbar ----- */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: white;
    font-family: unset;
    transition: all 0,3s ease;
    border-bottom: 2px solid #D3D3D3;
}

.navbar.sticky {
    padding: 15px 0;
    background: #1D3557;
}

.navbar.sticky .logo a {
    color: #F1FAEE;
    transition: all 0,3s ease;
}

.navbar.sticky .menu li a {
    color: #F1FAEE;
    transition: all 0,3s ease;
}

.navbar .max-width {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #457B9D;
    font-size: 40px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #457B9D;
    font-size: 23px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0,3s ease;
}

.navbar .menu li a:hover {
    color: #1865F2;
}


/* ----- Home ----- */
.home {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #457B9D;
    min-height: 500px;
    background-color: #E3ECEA;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content {
    color: #1D3557;
}

.home .home-content p.text-1 {
    font-size: 40px;
}

.home .home-content p.text-2 {
    font-size: 80px;
    font-weight: 600;
    margin-left: -3px;
}

/* ----- App ----- */
.app {
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    color: #457B9D;
    background-color: #F1FAEE;
    font-size: 70px;
    height: 100vh;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.app .app-content {
    margin-left: 200px;
}

.app .app-content h2 {
    color: #457B9D;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.app .app-content p {
    color: #457B9D;
    font-size: 20px;
    text-align: justify;
    width: 370px;
    padding-bottom: 100px;
}


/* ----- Curses ----- */
.curses {
    background-color: #E3ECEA;
    min-height: 500px;
    height: 100vh;
}

.curses h2 {
    padding: 100px;
    text-align: center;
    font-size: 50px;
}

.curses .curses-content {
    display: flex;
    justify-content: space-between;
}

.curses .card {
    margin: 0 40px 0 40px;
    width: 350px;
    height: 300px;
    background-color: #F1FAEE;
    box-shadow: 1.5px 1.5px  grey;
    border-radius: 8px;
    padding: 25px;
}

.card img {
    border-radius: 5px;
}

.curses h3 {
    text-align: center;
    font-size: 25px;
    color: #1D3557;
    margin-top: 20px;
}


/* ----- Team ----- */
.team {
    background-color: #F1FAEE;
    height: 100vh;
    min-height: 500px;
}

.team h2 {
    padding: 100px;
    text-align: center;
    font-size: 50px;
}

.team .team-content {
    display: flex;
    justify-content: space-between;
}

.team .card {
    margin: 0 25px 0 25px;
    width: 220px;
    height: 300px;
    background-color: #E3ECEA;
    box-shadow: 1.5px 1.5px  grey;
    border-radius: 8px;
    padding: 25px;
}


.team h3 {
    margin-top: 8px;
    text-align: center;
    font-size: 25px;
    color: #1D3557;
}

.team p {
    color: #457B9D;
    font-size: 20px;
    text-align: center;
}

.team img {
    border-radius: 50%;
}





/* ----- Footer ----- */

footer {
    height: 60px;
    background: #1D3557;
    color: #F1FAEE;
}

footer p {
    font-size: 15px;
    padding: 20px;
}

