/* ----- Global ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* ----- Navbar ----- */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: white;
    font-family: unset;
    transition: all 0,3s ease;
    border-bottom: 2px solid #D3D3D3;
}

.navbar.sticky {
    padding: 15px 0;
    background: #1D3557;
}

.navbar.sticky .logo a {
    color: #F1FAEE;
    transition: all 0,3s ease;
}

.navbar.sticky .menu li a {
    color: #F1FAEE;
    transition: all 0,3s ease;
}

.navbar .max-width {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #457B9D;
    font-size: 40px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #457B9D;
    font-size: 23px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0,3s ease;
}

.navbar .menu li a:hover {
    color: #1865F2;
}


/* ----- Home ----- */
.home {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #457B9D;
    min-height: 500px;
    background-color: #E3ECEA;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content {
    color: #1D3557;
}

.home .home-content p.text-1 {
    font-size: 40px;
}

.home .home-content p.text-2 {
    font-size: 80px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content p.text-3 {
    color: #F1FAEE;
    font-size: 25px;
    text-align: center;
    width: 150px;
    height: 35px;
    background-color: #1865F2;
    border-radius: 7px;
    padding: 5px;
}

/* ----- App ----- */
.app {
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    color: #457B9D;
    background-color: #F1FAEE;
    font-size: 70px;
    height: 100vh;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.app .app-content {
    margin-left: 10%;
}

.app .app-content h2 {
    color: #457B9D;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.app .app-content p {
    color: #457B9D;
    font-size: 20px;
    text-align: center;
    width: 450px;
    padding-bottom: 100px;
}


/* ----- Curses ----- */
.curses {
    background-color: #E3ECEA;
    min-height: 500px;
    height: 100vh;
    min-height: 500px;
}

/* ----- Team ----- */
.team {
    background-color: #F1FAEE;
    min-height: 500px;
    height: 100vh;
    min-height: 500px;
}

/* ----- Footer ----- */

footer {
    height: 80px;
    background: #1D3557;
    color: #F1FAEE;
}

footer p {
    font-size: 15px;
    padding: 20px;
}

