* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar style */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: white;
    font-family:unset;
    transition: all 0,3s ease;
    border-bottom: 2px solid #D3D3D3;
}

.navbar.sticky {
    padding: 15px 0;
    background: #1D3557;
}

.navbar.sticky .logo a {
    color: #F1FAEE;
    transition: all 0,3s ease;
}

.navbar .max-width {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #457B9D;
    font-size: 40px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #457B9D;
    font-size: 23px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0,3s ease;
}

.navbar .menu li a:hover {
    color: #1865F2;
}


/* home section style */
.home {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #457B9D;
    min-height: 500px;
    background-color: #E3ECEA;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content {
    color: #1D3557;
}

.home .home-content .text-1 {
    font-size: 40px;
}

.home .home-content .text-2 {
    font-size: 80px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    color: #F1FAEE;
    font-size: 25px;
    margin: 5px 0;
    text-align: center;
    width: 150px;
    height: 35px;
    background-color: #1865F2;
    border-radius: 7px;
    padding: 3px;
}

/* app section style */
.app {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #457B9D;
    min-height: 500px;
    background-color: #F1FAEE;
    font-size: 70px;
}

.app-content{
    display: flex;
    align-items: center;
}
